*{
  margin: 0;
  padding: 0;
  list-style: none  ;
}
body {
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #f76565;
  font-size: 18px; }
  header div ul li a.active, header div ul li a:hover {
    background-color: #ffffff;
    transition: .5s;
    border-radius: 20px; }

body h5:hover {
  background-color: black;
  width: 100%;
  border-radius: 5px; }

footer {
  background-color: gray; }
  footer a {
    margin-left: 80px; }

/* @media all and (max-width:1200px){
    .contenedorUno, .contenedorDos{
      grid-column: 1/ span 3;
    }
} */